<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bigroomstudios.stimpymobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Stimpy Mobile</name>
    <description>
        A sample Stimpy Mobile app
    </description>
    <author email="sam@bigroomstudios.com" href="http://bigroomstudios.com">
        Big Room Studios
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="TopActivityIndicator" value="white"/>
</widget>
