{% block head %}
    {% for item in assets.css %}
        <link rel="stylesheet" href="{{item}}{{version.cache}}"/>
    {% endfor %}

    <script>
    	window.api = '{{api}}'; 
    </script>
	
	<link rel="import" href="bower_components/font-roboto/roboto.html">
	<link rel="import" href="bower_components/core-header-panel/core-header-panel.html">
	<link rel="import" href="bower_components/core-toolbar/core-toolbar.html">
	<link rel="import" href="bower_components/paper-tabs/paper-tabs.html">

{% endblock %}